@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  body {
    @apply bg-zinc-50 text-zinc-900 dark:bg-zinc-950 dark:text-zinc-50 antialiased transition-colors duration-300;
  }

  /* Global Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: #d4d4d8; 
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #a1a1aa; 
  }
  .dark ::-webkit-scrollbar-thumb {
    background: #27272a; 
  }
  .dark ::-webkit-scrollbar-thumb:hover {
    background: #6366f1; 
  }
  html {
    scrollbar-width: thin;
    scrollbar-color: #d4d4d8 transparent;
  }
  html.dark {
    scrollbar-color: #27272a transparent;
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}
